<?xml version="1.0" encoding="UTF-8"?>
<configuration>
	<statusListener class="ch.qos.logback.core.status.OnConsoleStatusListener" />

	<appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
		<encoder>
			<pattern>%highlight(%date{yyyy-MM-dd HH:mm:ss.SSS} %5level --- [%15.15thread]) %cyan(%-40.40logger{39}) : %highlight(%message){}%n%xEx</pattern>
		</encoder>
	</appender>

	<root level="INFO">
		<appender-ref ref="CONSOLE"/>
	</root>
</configuration>